
  <div class="title-content">
    <h1 class="title">Salas creadas</h1>
  </div>
  
  <div class="content-cards">
    <div *ngFor="let sala of salas" class="content-one">
      <div class="content-two">
  
        <div class="content-id">
          <p class="text-id">Id / #{{sala.id_sala}}</p>
        </div>
  
        <div class="content-title">
          <h1 class="title-card">{{sala.nombre}}</h1>
        </div>
  
        <div class="content-text">
          <ul>
            <li>Capacidad: {{sala.capacidad}}</li>
            <li>Disponibilidad: {{sala.available ? 'No disponible' : 'Disponible'}}</li>
          </ul>
        </div>
        
          <div class="button-update">
            <button class="update" (click)="modificar(sala.id_sala)"><i class="fa-solid fa-pen-to-square"></i> Modificar</button>
          </div>
    
          <div class="button-delete">
            <button class="delete" (click)="eliminarSala(sala.id_sala)"> <i class="fa-solid fa-trash"></i> Eliminar</button>
          </div>
      
      
  
      </div>
    </div>
  </div>
  