<div class="content">
    <div class="option">
        <h1 class="title">CRUD</h1>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate possimus vel minus iure iste dicta itaque in, eaque doloremque magnam quo minima reiciendis rem vero eos quam aspernatur laudantium dolor.</p>
        <button class="button" (click)="crud()">Ir al crud</button>
    </div>
    <div class="option">
        <h1 class="title">Reservar salas</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum impedit dignissimos quos labore numquam officia nihil ullam qui, voluptate quod incidunt laborum ipsum alias distinctio. Accusantium minus odio rerum dolore!</p>
        <button class="button" (click)="reservaciones()">Reservar salas</button>
    </div>
</div>