.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.agregar{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.mostrar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.boton-agregar{
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #26c9ea;
    color: black;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5x black;
}


